
html
{
	min-height:100vh;
	font-family: 'Roboto Condensed', sans-serif;
}


body
{
	background-color: #F0F0F0;
	background-size: cover;
	min-height: 100vh;
}


/*header*/
header
{
	background-color: black;
	width: 100%;
	float: left;
	height: 15%;
}

#navBar h3
{
	background-color: black;
	color: white;
	position: relative;
	right: 8%;
	
}

#navBar
{
	float: left;
	width: 30%;
	position: relative;
	right: 2%;


}


main
{
	min-height: 100vh;
	clear: both;
}

#content
{
	position: absolute;
	top: 65%;
	width: 100%;
	z-index: 100;
	display:block;
}

canvas 
{ 	width: 30%; 
	height: 20%;
	position: absolute;
	top: 13.5%;
	left: 25%;

}


#nameContainer, #choiceContainer, #resultContainer, #messageHistoryContainer, #chatContainer
{
	margin: 0 auto;
}
#message
{
	width: 60%;
}

#messageHistory
{
	overflow: hidden;
}
