
html
{
	min-height:100vh;
	font-family: 'Roboto Condensed', sans-serif;
}


body
{
	background-color: #F0F0F0;
	background-size: cover;
	min-height: 100vh;

}


/*header*/
header
{
	background-color: black;
	width: 100%;
	float: left;
	height: 15%;
}

#navBar h3
{
	background-color: black;
	color: pink;
	position: relative;
	right: 8%;
	font-family: 'Lobster Two', cursive;
	font-weight: 1000;
	
}

#navBar
{
	float: left;
	width: 30%;
	position: relative;
	right: 2%;


}


main
{
	min-height: 100vh;
	clear: both;
}

#content
{
	position: absolute;
	top: 65%;
	width: 100%;
	z-index: 100;
	display:block;
}

canvas 
{ 	width: 30%; 
	height: 20%;
	position: absolute;
	top: 13.5%;
	left: 25%;

}


#nameContainer, #choiceContainer, #resultContainer, #chatContainer
{
	margin: 0 auto;
	position: absolute;
	margin-left: 11%;
}
#message
{
	width: 60%;
	font-family: 'Roboto Condensed', sans-serif;
}

#messageHistory
{
	font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif;
}

#messageHistoryContainer
{
	overflow: hidden;

}

#nameContainer
{
	margin-top: 5%;
	font-family: 'Roboto Condensed', sans-serif;
}
 #resultContainer
{

 	padding-top: 8%;
 	font-family: 'Lobster Two', cursive;
 	font-size: 19px;
 	font-weight: bold;

 }

#choiceContainer
{
	padding-top: 8%;
	font-family: 'Roboto Condensed', sans-serif;

}
#chatContainer
{
	position: fixed;
	bottom: 0;
	font-family: 'Roboto Condensed', sans-serif;

}

#submitMessage
{
	margin-left: 2%;
	font-family: 'Roboto Condensed', sans-serif;
}

#submitName
{
	 font-family: 'Lobster Two', cursive;
	 margin-left: 25%;
	 margin-top: 27%;
}

